<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_BASE_URL</key>
	<string>$(API_BASE_URL)</string>
	<key>TRPC_PATH</key>
	<string>$(TRPC_PATH)</string>
	<key>CLERK_PUBLISHABLE_KEY</key>
	<string>$(CLERK_PUBLISHABLE_KEY)</string>
	<key>WEBAUTHN_RP_ID</key>
	<string>$(WEBAUTHN_RP_ID)</string>
	<key>WEBAUTHN_RP_NAME</key>
	<string>$(WEBAUTHN_RP_NAME)</string>
	<key>KEYCHAIN_SERVICE_NAME</key>
	<string>$(KEYCHAIN_SERVICE_NAME)</string>
</dict>
</plist>
